<a href="https://colab.research.google.com/github/pasindu-94/solar-power-prediction/blob/master/solar_power_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Solar Power Prediction and Forecasting Analysis

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

##Load Data Sets

In [6]:
solar_generation_data_file = 'https://raw.githubusercontent.com/pasindu-94/solar-power-prediction/master/datasets/solar_power_generation_data.csv'
weather_data_file = 'https://raw.githubusercontent.com/pasindu-94/solar-power-prediction/master/datasets/weather_sensor_data.csv'

# Load CSV File
solar_data = pd.read_csv(solar_generation_data_file)
weather_data = pd.read_csv(weather_data_file)

In [8]:
solar_data.head()

        DATE_TIME  PLANT_ID  ...  DAILY_YIELD   TOTAL_YIELD
0  5/15/2020 0:00   4136001  ...  3075.333333  2.247720e+09
1  5/15/2020 0:15   4136001  ...     0.000000  2.247720e+09
2  5/15/2020 0:30   4136001  ...     0.000000  2.247720e+09
3  5/15/2020 0:45   4136001  ...     0.000000  2.247720e+09
4  5/15/2020 1:00   4136001  ...     0.000000  2.247720e+09

[5 rows x 7 columns]

In [9]:
weather_data.head()

        DATE_TIME  PLANT_ID  ... MODULE_TEMPERATURE  IRRADIATION
0  5/15/2020 0:00   4136001  ...          25.060789          0.0
1  5/15/2020 0:15   4136001  ...          24.421869          0.0
2  5/15/2020 0:30   4136001  ...          24.427290          0.0
3  5/15/2020 0:45   4136001  ...          24.420678          0.0
4  5/15/2020 1:00   4136001  ...          25.088210          0.0

[5 rows x 6 columns]